

h1 {
    text-align: center;
}


#add_user_to_group {
    display: grid;
    background-color: white;
    position: absolute;
    grid-template-columns: auto;
    top: 10%;
    gap: 5px;
    left: 44.6%;
    margin: 0;
    padding: 15px;
    align-items: center;
    border: solid black 2px;
    border-radius: 1em;
}

#move_pass_to_center_page {
    display: grid;
    position: absolute;
    top: 50%;
    left: 47%;
}