

h1 {
    text-align: center;
}

#createGroup {
    display: grid;
    position: absolute;
    width: 20%;
    padding: 20px;
    top: 10%;
    left: 39%;
    grid-template-columns: auto;   
    border: 2px solid black;
    border-radius: 2em;
    background-color: white;
    align-items: center;

}

#groupCreated {
    display: grid;
    position: absolute;
    top: 70%;
    left: 45%;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

#button_to_main {
    display: grid;
    position: absolute;
    padding: 10px;
    margin: 0;
    left: 45.7%;
    top: 80%;
    text-align: center;
    font-size: larger;
    color: blue;
    border: solid black 2px;
    border-radius: 2em;
    background-color: green;
}

a:link {
    text-decoration: none;
}

#link_to_main {
    color: black;
}
