body {
    margin:50px;
}

form {
    padding:10px;
    display:grid;
    grid-template-columns: auto auto;
    gap:5px;
    max-width: 20em;
    border: 2px solid black;
    text-align: left;
}

form fieldset {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

#pay-frequency-div {
    padding-block-start: 1.2em;
}

.error_msg {
    display: none;
    color:red;
}

.have_user {
    margin-top: 10px;
    text-align: center;
}