h1 {
  width: 100%;
  text-align: center;
}

.logout {
  position: absolute;
  top:1%;
  right: 1%
}

#user_name {
  font-weight: bold;
  font-size: 1.25em;
  padding-right: 1em;

}
#change_user {
  width: 10em;
  font-size: 15px;
  background-color: rgb(208, 44, 44);
  padding: 3px;
}

.redirect {
  height: 1.5em;
  width: auto;
  margin-bottom: 5em;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #299c46;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: solid 2px black;
  text-align: center;
  
}

.redirect:hover {
  background-color: #206a30;
}

.grid_container {
  display:grid;
  grid-template-columns: 25% 25%;
  gap: 10%;
}

.group_container {
  position: absolute;
  top:10%;
  right:2%;
  border: 3px solid black;
  padding:0 10px 10px 10px;
}

.member_container {
  border: 1px solid black;
  padding:5px;
  margin-bottom: 2px;
  font-size: 1em;
}